<div class="main">
    <div class="left">
        <p class="line">Search</p>
        <input type="text" placeholder="Enter any keyword" class="input" (keyup)="searchFilter($event)" #txt>
        <button class="btn-green" id="clear" (click)="clear(txt)">Clear</button>
    </div>
    <div class="drop">
        <p class="line">Filter by</p>
        <select name="filter" id="drop-down" class="text-smaller" (change)="dropFilter($event)">
            <option value="Preferred Name">Preferred Name</option>
            <option value="Department">Department</option>
            <option value="Job Title">Job Title</option>
        </select>
    </div>
</div>